@import url("./default.css");

* {
    font-family: 'Inconsolata', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary-color: #223835;
    --secondary-color: #558E62;
    --third-color: #E6E5DA;
    --bg-color: #f2eeec;
    --text-color: #0a1110;
    --text-color2: #07794F;
    --text-color3: #065538;
    --bg-color-register: #412d25;
}

body {
    background-color: var(--bg-color) !important;
}

main {
    height: fit-content;
    background-attachment: fixed;
    background-color: #f2eeec;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23a59f9c' fill-opacity='0.26'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.letter-spacing{
    letter-spacing: 2px;
}
