.bg-main {
    height: 70vh;
    margin-top: 7rem;
    background-image: url("../assets/image/img-login.jpg");
    object-fit: fill;
    object-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-image-header-login h2 {
    font-size: 5rem;
    font-family: 'Merriweather', serif;
    letter-spacing: 5px;
}

.container-image-header-login p {
    font-family: 'Merriweather', serif;
    letter-spacing: 5px;
    text-shadow: 15px 5px 10px #0f0b09;
}


.card-login {
    background-color: #f2eeecdb;
    box-shadow: 10px 10px 20px #0f0b094f;
}

.input-group-prepend span {
    width: 45px;
    height: 45px;
    background-color: var(--primary-color);
    color: white;
}

.form-control{
    border: 1px solid var(--primary-color);
    background-color: var(--bg-color) !important;
}

.input-color{
    color: var(--primary-color) !important;
}

.form-control:focus {
    border: 2px solid var(--secondary-color) !important;
    box-shadow: 0px 0px 1px 5px #558e625c !important;
    transition: all 0.3s ease-in-out;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.links a {
    color: var(--text-color3) !important;
}