.nav-item .active {
    background: var(--primary-color) !important;
    color: white !important;
}

nav {
    background-color: var(--bg-color) !important;
}

.container-navbar {
    width: 30%;
}

.navbar-nav{
    width: 57%;
}

.nav-link {
    color: var(--text-color) !important;
    background-image: linear-gradient(90deg, var(--secondary-color), var(--primary-color)) !important;
    cursor: pointer !important;
    background-repeat: no-repeat !important;
    background-size: 0% 3px !important;
    background-position: left bottom !important;
    transition: background-size 600ms ease-in-out !important;
}

.nav-link:hover {
    background-size: 100% 3px !important;
}

.button-signUp {
    background-color: var(--secondary-color);
    color: white;
}

.button-signUp:hover {
    background-color: var(--primary-color);
    color: white;
    transition: 0.3s all linear;
}

.ancor-user,
.ancor-basket {
    color: var(--text-color);
}

.ancor-user:hover,
.ancor-basket:hover {
    color: var(--text-color2);
    transition: 0.3s all linear;
}

img.img-carousel {
    width: 100%;
    margin-top: 30px;
    object-fit: fill;
    object-position: center;
}